.main-spline {
  position: relative;
  width: 100%;
  height: 950px;
  background-color: var(--color-bg);
}

.spline-content {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.spline-content > h1,
.spline-content > h2,
.spline-content > h3 {
  color: var(--color-secondary);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--color-main);
}

.spline-content > h1 {
  font-size: 8rem;
}
.spline-content > h2 {
  font-size: 5rem;
}

@media screen and (max-width: 705px) {
  .spline-content > h1 {
    font-size: 6rem;
  }

  .spline-content > h2 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 515px) {
  .spline-content > h1 {
    font-size: 5rem;
  }

  .spline-content > h2 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 435px) {
  .spline-content > h1 {
    font-size: 4.5rem;
  }

  .spline-content > h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 378px) {
  .spline-content > h1 {
    font-size: 3.5rem;
  }

  .spline-content > h2 {
    font-size: 2.5rem;
  }
}
